
body {
  font-size: 300%; /
}


.news-container {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 160px;
}

.news-container {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 160px;
}

.featured-news {
  width: 80%;
  margin: 0 auto 40px;
}

.featured-news article {
  background: rgba(79, 176, 169, 0.8);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  min-height: 150px;
}

.featured-news .img-container {
  width: 100%;
  height: 800px;
  margin: 0 auto 15px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 3px;
  background: rgba(79, 176, 169, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-news img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.news-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.news-item-wrapper {
  display: flex;
  gap: 3px;
}

.news-item-img-container {
  width: 25%;
  min-width: 200px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 3px;
  background: rgba(79, 176, 169, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.news-item-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.news-item {
  flex: 1;
  background: rgba(79, 176, 169, 0.8);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  min-height: 150px;
}


.news-date {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #000;
  font-size: 0.7em;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 2px 4px;
  background: rgba(79, 176, 169, 0.8);
}


.read-more {
  display: inline-block;
  background: #FFD966;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 4px 7.5px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  font-size: 0.7em;
}

.read-more:hover {
  background: #bfa25c;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.read-more:active {
  background: #a38d4f;
  transform: translateY(0);
  box-shadow: none;
}


.featured-news article,
.news-item-wrapper {
  opacity: 0;
  transform: translateY(20px);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.news-item-wrapper:nth-child(1) { animation-delay: 0.3s; }
.news-item-wrapper:nth-child(2) { animation-delay: 0.5s; }
.news-item-wrapper:nth-child(3) { animation-delay: 0.7s; }
